.title{
  display: flex;
  justify-content: start;
  padding: 8px;
}
h1{
  color: #EBB755;
  font-weight: bold;
}
.div_table{
  border-radius: 16px;
  background-color: #94C1AD;
  height: 35rem;
  padding: 15px;
}
.div_button{
  display: flex;
  justify-content: end;
  padding: 8px;
}
