
<div mat-dialog-title></div>
<h1>Add suppliers</h1>
<div mat-dialog-content class="content">
  <div class="row">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput type="text" placeholder="Ex. tech">
  </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" placeholder="Ex. Lopez">
    </mat-form-field>
</div>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Ex. Josea@gmail.com">
  </mat-form-field>
  <mat-form-field apppearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>
<div mat-dialog-actions>

  <button mat-raised-button>Cancel</button>
  <button mat-raised-button color="accent">Save</button>

</div>
