<div class="title">
  <h1>Profile</h1>
</div>
<div class="profile-date">
  <div class="profile-form">

    <div class="card">
      <div>
        <h2>FirstName</h2>
        <h2>LastName</h2>
        <h2>Email</h2>
        <h2>Password</h2>
        <h2>Rol</h2>
      </div>

      <div class="card-footer">
        <button mat-button mat-flat-button type="submit">Submit</button>
        <button mat-button mat-flat-button type="submit">Update</button>
      </div>

    </div>


  </div>
  <div class="profile-img">
    <img src="assets/star-guardian-quinn-icon.png">
    <input type="file" accept="image/*">
  </div>
</div>
