.example-card {
  max-width: 400px;
  width: 250px;
}
.container {
  justify-content: center;
  align-items: center;
  background-color: #66A18A;
  height: 280px;
  width: 80%;
  margin: 0 auto; /* Centra horizontalmente */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  padding-top: 10px;
  border-radius: 20px;
}
.containerForm{
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto; /* Centra horizontalmente */
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;

  padding-top: 10px;

}
.containerTask{
  justify-content: center;
  align-items: center;
  background-color: #66A18A;
  height: 280px;
  width: 80%;
  margin: 0 auto; /* Centra horizontalmente */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding-top: 10px;
  border-radius: 20px;
}

.containerFormTask{
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto; /* Centra horizontalmente */
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;

}
.card-containerMember {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  flex-direction: row;
  justify-content: left;
  height: auto;
  width: 95%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.card-containerTask {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill,minmax(200px,1fr));
  gap: 10px;
  flex-direction: row;
  justify-content: left;
  height: auto ;
  width: 95%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.member-card img {
  max-width: 50%; /* La imagen se ajustará al ancho máximo del recuadro */
  max-height: 100%; /* La imagen se ajustará al alto máximo del recuadro */
  object-fit: contain; /* La imagen se ajustará sin distorsionar, cubriendo todo el área disponible */
}
.team-text {
  font-size: 24px; /* Tamaño del texto del mensaje 'Este es tu equipo!' */
  justify-content: left; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 20%; /* Ajusta el alto para centrar verticalmente */
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: -50px; /* Ajusta el margen inferior */
}
.card-title {
  font-size: 16px; /* Tamaño del texto del título del miembro */
}
.card-subtitle {
  font-size: 12px; /* Tamaño del texto del rol del miembro */
}
.card-content {
  font-size: 12px; /* Tamaño del texto del contenido del card */
}
.button-like,
.button-share {
  font-size: 10px; /* Tamaño del texto de los botones */
}
.add-member-button{
  background-color: #EBB755;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.add-task-button{
  background-color: #EBB755;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.form-section {
  display: table;
}

.form-row {
  display: table-cell;
  max-width: 2400px;
}

.form-row .mat-raised-button {
  margin-right: 8px;
}

.form-row mat-form-field {
  margin-right: 8px;
}

.form-row #age-form-field {
  margin-right: 8px;
  width: 15%;
}
.actions-container {
  display: flex;
  justify-content: flex-end;
}

.right-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
