.example-card {
  max-width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según sea necesario */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

